# PREPARE DATA

In [75]:
import pandas as pd

In [6]:
words_freq = pd.read_csv("./unigram_freq.csv")
words_type = pd.read_csv("./words_pos.csv", index_col=0)

In [7]:
words_freq.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

In [8]:
words_type.head()

     word pos_tag
0      aa      NN
1     aaa      NN
2     aah      NN
3   aahed     VBN
4  aahing     VBG

In [9]:
words = pd.merge(words_freq, words_type, on='word', how='outer')
words.head()

    word         count pos_tag
0      a  9.081175e+09     NaN
1     aa  3.052333e+07      NN
2    aaa  1.024398e+07      NN
3   aaaa  1.595769e+06     NaN
4  aaaah  5.282100e+04     NaN

         word         count pos_tag  letter_count
0           a  9.081175e+09     NaN           1.0
1          aa  3.052333e+07      NN           2.0
2         aaa  1.024398e+07      NN           3.0
3        aaaa  1.595769e+06     NaN           4.0
4       aaaah  5.282100e+04     NaN           5.0
...       ...           ...     ...           ...
607129   zzzk  1.556500e+04     NaN           4.0
607130   zzzt  2.248700e+04     NaN           4.0
607131   zzzz  3.625200e+05     NaN           4.0
607132    NaN  3.073916e+07     NaN           NaN
607133    NaN  3.398089e+06     NaN           NaN

[333333 rows x 4 columns]

In [66]:
words["letter_count"] = words.word.str.len()
used_words = words[words["count"] > 10000000]
words_wordle = used_words[(used_words.letter_count >= 4) & (used_words.letter_count <= 8)]
words_wordle

            word         count pos_tag  letter_count
228        aaron  1.169878e+07      NN           5.0
1029     ability  5.200429e+07      NN           7.0
1163        able  1.093890e+08      JJ           4.0
1423       about  1.226734e+09      IN           5.0
1431       above  1.418946e+08      IN           5.0
...          ...           ...     ...           ...
604479   zealand  4.167737e+07      NN           7.0
604943      zero  3.073541e+07      NN           4.0
605353  zimbabwe  1.045920e+07      NN           8.0
605997      zone  4.689737e+07      NN           4.0
606190      zoom  3.137363e+07      NN           4.0

[4231 rows x 4 columns]

In [68]:
words_wordle.pos_tag.value_counts(dropna=False)

pos_tag
NN      2410
NNS      750
JJ       279
VBN      193
VBG      166
NaN      121
RB       106
VBD       44
IN        43
VB        31
VBZ       19
JJS       13
JJR       11
DT        10
CD         8
MD         7
PRP        6
RBR        4
PRP$       2
WP         2
WDT        2
WRB        2
CC         1
WP$        1
Name: count, dtype: int64

In [67]:
words_wordle[words_wordle.pos_tag == "NN"].letter_count.value_counts()

letter_count
6.0    558
4.0    547
5.0    537
7.0    454
8.0    314
Name: count, dtype: int64

In [69]:
words_wordle[words_wordle.pos_tag == "JJ"]

            word        count pos_tag  letter_count
1163        able  109389038.0      JJ           4.0
2092    academic   54886061.0      JJ           8.0
2421    accepted   46922000.0      JJ           8.0
4196    acoustic   10857417.0      JJ           8.0
4937      active   84084764.0      JJ           6.0
...          ...          ...     ...           ...
590769     whole   85202530.0      JJ           5.0
591151      wide   87661475.0      JJ           4.0
591941   willing   18418634.0      JJ           7.0
596410     wrong   49156828.0      JJ           5.0
603037     young  136341684.0      JJ           5.0

[279 rows x 4 columns]

In [72]:
words_wordle[words_wordle.pos_tag == "VB"]

            word         count pos_tag  letter_count
14673      allow  6.705257e+07      VB           5.0
27094     appear  4.280110e+07      VB           6.0
27447      apply  7.634148e+07      VB           5.0
34283     assume  2.267940e+07      VB           6.0
50041    believe  7.591805e+07      VB           7.0
102719      come  1.543261e+08      VB           4.0
107051  consider  5.406214e+07      VB           8.0
134241   develop  5.561104e+07      VB           7.0
163456    ensure  5.950761e+07      VB           6.0
173550    expect  3.467568e+07      VB           6.0
182821      find  5.020430e+08      VB           4.0
187749    follow  6.898299e+07      VB           6.0
205249      give  1.406886e+08      VB           4.0
220503    happen  2.720789e+07      VB           6.0
222282      have  1.564203e+09      VB           4.0
242132  identify  3.585412e+07      VB           8.0
246324   improve  6.130561e+07      VB           7.0
271166      keep  1.196025e+08      VB           4.0
276300      know  3.061008e+08      VB           4.0
285967     leave  7.095775e+07      VB           5.0
296509      lose  2.413698e+07      VB           4.0
302915      make  4.050846e+08      VB           4.0
359285    obtain  3.067205e+07      VB           6.0
433655   realize  1.409849e+07      VB           7.0
437020    reduce  3.983075e+07      VB           6.0
440601  remember  8.222204e+07      VB           8.0
440927    remove  5.003620e+07      VB           6.0
441976   replace  2.259256e+07      VB           7.0
460742      save  1.860911e+08      VB           4.0
484237      slow  2.687024e+07      VB           4.0
517550      take  2.643498e+08      VB           4.0

# SPLIT INTO GROUPS